body {
    background-color:#ecebeb; 
    color:#ecebeb;
}

.main {
    background-image:url('../img/background.png');
    padding-bottom: 20px;
}

.header {
    height: 100px;
}

.header {
    height: 460px;
}

.song {
    background-color:#71a3ff; 
    padding: 5px;
    height: 200px;
}

.vote {
    margin-right:auto;
    margin-left:auto;
    text-align:center;
}

.spacer {
    height: 50px;
}

.footer {
    height: 50px;
    background-image:url('../img/footer.png');
}