body {
    background-color:#232120; 
    color:#ffffff;
}

.header {
	height:460px;
}

.song {
    background-color:#71a3ff; 
    padding: 5px;
    height: 200px;
}

.vote {
    margin-right:auto;
    margin-left:auto;
    text-align:center;
}

.spacer {
    height: 50px;
}