body {
    background-color:#ecebeb; 
    color:#ecebeb;
}

.main {
    background-image:url('../img/background.png');
    padding-bottom: 20px;
}

.header {
    height: 460px;
}

.song {
    background-color:#71a3ff; 
    padding: 5px;
    height: 100px;
}

.vote {
    margin-right:auto;
    margin-left:auto;
    text-align:center;
}

.spacer {
    height: 50px;
}

.footer {
    height: 50px;
    background-image:url('../img/footer.png');
}

#userForm {
	background-color: #CECECE;
	font-family: Arial;
	color: #000;
	border: 2px #80FF00 solid;
	width: 170px;
	padding: 20px;
	text-align: center;
}

#userForm .userLabel {
	text-align: left;
}